@import "tailwindcss";

.prose h2 {
  @apply text-2xl font-semibold bg-gray-100 px-2 py-5 rounded;
}
.prose h3 {
  @apply text-xl font-medium px-2 py-1 rounded mt-3 mb-1;
}
.prose {
  @apply text-lg; /* もともと text-base の場合は少し大きくなる */
}
.prose p {
  @apply mt-2 mb-6; /* 上下マージンを増やす */
}
.prose ul {
  @apply mb-5;
}
.prose img {
  @apply w-full max-w-4xl mx-auto rounded-lg;
}
.button-send {
  @apply text-xl font-bold px-6 py-3 rounded-lg border border-black;
}
.button-send:hover {
  @apply scale-105;
}

/* 目次用 */
.toc ul {
  list-style-type: none; /* マーカーを消す */
  padding-left: 0;        /* 左の余白もリセット */
}

/* プロフィール用  （より具体的にimg に .profile-img がついていれば、.prose img より優先されます）*/
.prose img.profile-img {
  @apply w-60 h-60 sm:w-100 sm:h-100  mx-auto;
}

html {
  scroll-behavior: smooth;
}


.prose table {
  @apply border-collapse w-full my-8;
}
.prose table th,
.prose table td {
  @apply border border-gray-300 p-2;
}
.prose table thead th {
  @apply bg-gray-100;
}