@import "tailwindcss";

.prose h2 {
  @apply text-2xl font-semibold bg-gray-100 px-2 py-5 rounded;
}
.prose h3 {
  @apply text-xl font-medium px-2 py-1 rounded my-3;
}
.prose {
  @apply text-lg; /* もともと text-base の場合は少し大きくなる */
}
.prose p {
  @apply my-6; /* 上下マージンを増やす */
}
.prose img {
  @apply w-full max-w-4xl mx-auto rounded-lg;
}
.button-send {
  @apply text-xl font-bold px-6 py-3 rounded-lg border border-black;
}
.button-send:hover {
  @apply scale-105;
}

/* 目次用 */
.toc ul {
  list-style-type: none; /* マーカーを消す */
  padding-left: 0;        /* 左の余白もリセット */
}

/* プロフィール用  （より具体的にimg に .profile-img がついていれば、.prose img より優先されます）*/
.prose img.profile-img {
  @apply w-100 h-100 mx-auto;
}

html {
  scroll-behavior: smooth;
}